
    .jumbotron{
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        border-radius: 0.3rem;
        background: #242134; 
        background: -webkit-linear-gradient(to right, #9E9AB4, #242134);
        background: linear-gradient(to right, #9E9AB4, #242134);
        text-align: center;
        color: white;
    
    }
    
    
    .uk-margin {
        text-align: left;
    }
    /* colors for UV index */
.green {
    color: green;
}
.yellow {
    color: yellow;
}
.orange {
    color: orange;
}
.red {
    color: red;
}
.purple {
    color: purple;
}