*{
    margin:0;
    padding:0;
}
body{
    background-color: #FFEA00;
    
}

/* styling header */
.hd1{
    padding: 2rem 1rem;
        margin-bottom: 2rem;
        border-radius: 0.3rem;
        background: #1414FF; 
        /* background: -webkit-linear-gradient(to right, #9E9AB4,#544991);
        background: linear-gradient(to right, rgb(87, 61, 235), #544991); */
        text-align: center;
        /* color: white; */
}

h1{
    color: white;
}

/* Style for container of user inputs and weather */
.wrapper{
    display: block;
    position: relative;
}

/* styling for divs holding forms that ask for user info */
.input-div{
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

/* aligning text within input divs */
.uk-margin{
    text-align: center;
}

/* making the input boxes closer*/
.uk-input{
    margin-bottom: 0px;
}

/* submit button color and aligning with input box */
.uk-button{
    background-color: #1414FF;
    margin-left: 100px;
    color: white; 
}

/* hacky way of aligning input boxes with origin and destination info*/
.hidden{
    display: none;
}
.blank-div{
    min-height: 40px;
}

/* coloring error message */
#user-error{
    color: red;
    font-weight: bold;
}

/* styling for divs holding weather info*/
#current-weather{
    margin: 20px;
    float: left;
}

#current-weather h6{
    margin: 2px;
    padding: 0px;
    font-size: 25px;
    color: white;
}
#current-weather h5{
    margin: 2px;
    padding: 0px;
    font-size: 25px;
}
.weather-div{
    padding: 0px;
    background-color: #1414FF;
}
#icon{
    float: right;   
}

/* colors for UV index */
.green {
    color: green;
}
.yellow {
    color: yellow;
}
.orange {
    color: orange;
}
.red {
    color: red;
}
.purple {
    color: purple;
}

/* styling for divs holding directions info */
#directions-info {
    box-sizing: border-box;
    padding:20px 60px;
    background-color: #1414FF;
    color: white;
    column-count: 3;
    column-gap: 15px;
    column-fill: balance
}
#directions-info li span{
    margin: 5px;
    padding: 0px;
    display: block;
    color: white;
}
#directions-info h3{
    color: white;
}
#directions-info button{
    margin: 5px;
}

/* footer */
h5 {
    font-size: 3rem;
    color: #1414FF;
}

/* add media queries to make mobile responsive - especially columns and elements not created with Ul kit. Double check those too though */